html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#matrix {
    width: 800px;
    margin: auto;
    overflow: auto;
    text-align: justify;
}
#matrix p {
    font-size: 30px;
}
#matrix span {
    padding-bottom: 70px;
}

#arrowTop {
    height: 9px;
    width: 14px;
    color: green;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#arrowTop::before {
    content: '▲';
}