/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* My Resets */
*, *::before, *::after{
    box-sizing: border-box;
}

body {
    background-color: #0072ff;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.adder {
    position: relative;
    width: 250px;
    margin: 0px auto;
    display: block;
}
.adder::-webkit-input-placeholder {
    color: #cecece;
}
.input {
    outline: none;
    border: 1px solid white;
    background-color: #0072ff;
    color: white;
    height: 50px;
    width: 250px;
    padding-left: 10px;
    font-weight: 800;
    font-size: 16px;
    margin-left: -5px;
}
span {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.8;
    transition: all 200ms;    /* Time for rotaition of + */
    color: white;
    /* will-change: transform; */
}
span:hover{
    transform: rotate(180deg); /* deg by witch + rotate */
}
ul {
    padding: 0px;
}
.draggable {
    font-weight: 800;
    height: 50px;
    margin: 10px;
    background-color: white;
    color: #0072ff;
    width: 250px;
    line-height: 3.2;
    padding-left: 10px;
    margin: 10px auto;
    position: relative;
    /* 
    will-change: transform;
    list-style-type: none;
    cursor: move;
    transition: all 200ms;
    user-select: none; 
    */
}
.draggable::after {
    content: 'drag me';
    right: 7px;
    font-size: 10px;
    position: absolute;
    line-height: 5;
    transform: translateX(120%); /* on moving curser to box `drag me` apper */
    opacity: 0;
    /*
    cursor: pointer;
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.50);
    */
}
.draggable:hover::after {
    transform: translate(0); /* on moving curser to box `drag me` apper */
    opacity: 1;
}
.over {
    transform: scale(1.1, 1.1);
}